:root{
    --main-color-blue: #219fda;
}
*{
    margin: 0;
    box-sizing: border-box;
    text-wrap: balance;
}
header,footer{
    background-color: var(--main-color-blue);
    padding: 20px;
    text-align: center;
    max-width: 1950px;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.8;
}
main{
    max-width: 1200px;
    padding: 0 20px;
    height: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px
}
.logo{
    width: 100px;
}
.problem{
    margin-top: 30px;
}
h1,h2 {
    color: var(--main-color-blue);
}
header>h1{
    color: white;
}
footer>h1{
    color: white;
}
footer{
    margin-top: 20px;
}
p>a{
    color: black;
}
.start-button{
    padding: 10px 20px;
    background: var(--main-color-blue);
    border-radius: 10px;
    border: 1px solid white;
}
.start-button>a{
    color: white;
    text-decoration: none ;
}
.start-button:hover{
    background: #004080;
}
#main-button{
    margin-top: 15px;
}
#head-button{
    margin-bottom: 10px;
}
.main-images{
    max-width: 700px;
    width: 60%;
    margin-top: 20px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {

}