:root{
    --main-color-blue: #219fda;
    --second-color-blue: #175c85;
}
*{
    margin: 0;
    box-sizing: border-box;
}
header,footer{
    background: linear-gradient(var(--main-color-blue),var(--second-color-blue));
    padding: 20px;
    text-align: center;
    max-width: 1950px;
    width: 100%;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.8;
    text-wrap: balance;
}
main{
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px
}
.logo{
    width: 100px;
    margin-bottom: -25px;
}
.mobile-logo{
    display: none;
}
.problem{
    margin-top: 40px;
}
h1,h2 {
    color: var(--main-color-blue);
}
header>h1{
    color: white;
}
.footer-text>h1{
    color: white;
}
footer{
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 20px;
}
body>p{
    text-indent: 20px;
}
p>a{
    color: black;
    text-decoration: none;
}
.start-button{
    padding: 10px 20px;
    background: var(--main-color-blue);
    border-radius: 10px;
    border: 1px solid white;
    color: white;
}
.start-button:hover{
    background: #004080;
}
#main-button{
    margin-top: 15px;
}
#head-button{
    margin-bottom: 10px;
}
.main-images{
    max-width: 700px;
    width: 60%;
    margin-top: 20px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
   h1{
        font-size: 25px;
    }
    header>p{
        display: none;
    }
    header>h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .logo{
        display: none;
    }
    .mobile-logo{
        display: block;
    }
    main{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px
    }
    .problem{
        margin-bottom: 30px;
    }
    .main-images{
        width: 90%;
    }
    iframe{
        width: 200px;
        height: 150px;
    }
    footer{
        grid-template-columns: 50% 50%;
    }

}