:root{
    --main-color-grey: #ececec;
    --second-color-grey: #e4e4e4;
    --main-color-blue: #219fda;
    --second-color-blue: #4d6bfe;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-color-grey);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.exam{
    background-color: white;
    width: 700px;
    text-align: center;
    box-shadow:2px 2px 4px var();
}
.progress-bar{
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
    max-width: 750px;
    flex-wrap: wrap;
}
.number{
    background-color: var(--main-color-grey);
    max-width: 25px;
    width: 22px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #707070;
    padding: 2px;
}
.extra-number{
    background-color: yellow;
    max-width: 25px;
    width: 22px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #707070;
    padding: 2px;
 }
.back-icon{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.number.active{
    background-color: var(--second-color-blue);
    color: white;
}
.number.completed{
    background-color: var(--main-color-blue);
    color: white;
}
.extra-numbers-container {
    display: none;
}
.show-extra-questions .extra-numbers-container {
    display: inline-flex;
}

.number.extra-number.active {
    background-color: var(--second-color-blue);
    color: white;
}

.number.extra-number.completed {
    background-color: var(--main-color-blue);
    color: white;
}
#passExam,#failExam{
    max-width: 700px;
    width: 100%;
    height: 350px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: fixed;
    font-weight: bold;
    z-index: 1000;
}
#passExam.active{
    display: flex;
    background-color: #008000;
}
#failExam.active{
    display: flex;
    background-color: #ff0000;
}
.restart {
    display: block;
    padding: 5px;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color-blue);
}
.restart:hover {
    background-color: var(--second-color-blue);
}
header {
    width: 100%;
    height: 60px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
}
header>h2{
    font-size: 20px;
    margin: 0;
}
#timer{
    color:#707070;
    margin: 0;
}
hr{
    border: 0;
    border-top: 2px solid var(--main-color-grey) ;
}
main{
    height: 490px;
    margin-top: 20px;
}
img{
    width: 560px;
    height: 210px;
}
.text{
    font-weight: bold;
}
button{
    width: 560px;
    margin-top: 10px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--main-color-grey);
    border: 0;
    border-radius: 2px;
    min-height: 42px;
    max-height: 87px;
}
button:hover{
    background-color: #d6d6d6;
}
.question{
    display: none;
}
.question.active{
    display: block;
}
.extra-question{
    display: none;
}
.extra-question.active{
    display: block;
}